.text-area .content
{
    -fx-background-color:dimgray;
    -fx-text-fill:ivory;
}
.text-area 
{
    -fx-text-fill:ivory;
}
.text-field
{
    -fx-text-fill:ivory
}
.list-cell:even
{
    -fx-background-color:gray;
    -fx-text-fill:ivory;
}
.list-cell:odd
{
    -fx-background-color:silver;
    -fx-text-fill:black;
}
.list-cell:empty
{
    -fx-background-color:dimgray;
}
.list-cell:selected
{
    -fx-background-color:darkblue;
    -fx-text-fill:white;
}
.button
{
    -fx-background-color:lightslategray;
    -fx-text-fill:ghostwhite;
    -fx-border-color:ghostwhite;
    -fx-background-radius:5;
    -fx-border-radius:5;
}
.button:hover
{
    -fx-border-width:2;
}
.progress-bar
{
    -fx-indeterminate-bar-animation-time:0.4;
    -fx-accent:limegreen;
}